@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 2em; */
    background: #171821;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f8565692;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8b0a0a;
  }
}
